@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {

    margin: 0;
    padding: 0;
    background-image: url('./img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    font-family: 'Press Start 2P', cursive;

    background-attachment: fixed;
    overflow-x: hidden;

    scroll-behavior: smooth; 
    

}

.app {

    width: 100vw;
    height: 100vh;

    >.container {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
        backdrop-filter: blur(10px);
        background-color: rgba(0, 0, 0, 0.326);
    

        >.header {

            display: flex;
            align-items: center;
            justify-content: center;
    
    
            width: 95%;
            height: 70px;
            color: white;
            margin-top: 40px;
            background: linear-gradient(to right, red, blue, rgb(44, 255, 2));
            box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.002);
            font-size: 14px;
        }
    }


    .info {

        margin-top: 50px;
        display: flex;
        justify-content: center;
        flex-direction: row;
        width: 100%;        


        .rule {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            width: 50%;

            >.btnOpenModal:hover{
                border: 10px double #00cf11;
                border-radius: 7px;
                color: rgb(255, 0, 0);
            }
            

            .btnOpenModal {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                width: 60%;
                height: 20%;
                padding: 50px;

                border: 10px double #93bfc7;
                border-radius: 7px;
                font-family: 'Press Start 2P', cursive;
                color: #ffffff; 
                text-shadow: rgb(2, 2, 2) 6px 3px 1px; 
                scale: 1.4;  
                font-size: 38px;


                background-image: url('./img/blockImage.png');

                background-repeat: repeat;
                background-size: 20px;
                position: relative;                
                cursor: pointer;


            }

            /* Estilo para o modal */
            #modal {
                display: flex;
                position: fixed;
                z-index: 1;
                left: 0;
                top: 0;
                bottom:0;
                width: 100%;
                height: 100%;
                overflow: auto;
                background: hidden;
                background-color: rgb(0, 0, 0);
                color: white;

            }

            /* Estilo para o conteúdo do modal */
            .modal-content {
                
                background-color: #fefefe;
                margin: 15% auto;
                padding: 20px;
                border: 10px double #888;
                border-radius: 7px;
                border: 20px double #CCCCCC;
                padding-left: 50px;
                background-image: url('./img/blockImage.png');

                background-repeat: repeat;
                background-size: 100px;
                line-height: 1.1;
                scale: 0.7;
                text-shadow: 5px 4px 1px rgba(0, 0, 0, 0.842);
                box-shadow:#F5F5DC 3px 0px 180px 10px;
                font-weight: 600;


            
                >h2:nth-child(2) {
                    color: gold;
                    text-align: center;
                    font-size: 35px;
                    margin: 50px;
                    text-shadow: 3px 3px 2px #000000fc, 0 0 5px #F5F5DC, 0 0 10px #F5F5DC, 0 0 20px #F5F5DC;
                }
                >p{
                    padding: 5px;
                    font-size: 20px;
                    line-height: 1.1;
                }
            
                >p:nth-child(3),:nth-child(4) {
                    padding: 6px;
                    color: #39ff14;                    
                }

                p:nth-child(5), p:nth-child(6) {
                    margin-left: 50px;
                    color: #ff7000; 
                
                }

                >h2:nth-child(7){
                    text-align: center;
                    color: gold;
                    margin-top: 50px;
                    margin-bottom: 50px;
                }

                >p:nth-child(8), :nth-child(9), :nth-child(10){

                    color:#00eaff;
                    text-align: center;
                    line-height: 1.1;
                }

                >h2:nth-child(11){
                    margin-top: 50px;
                    text-align: center;
                    color: gold;
                    padding-bottom: 30px;

                }

                >p:nth-child(12){
                    color: #39ff14;

                    
                }

                >p:nth-child(13), :nth-child(14),:nth-child(15), :nth-child(16){
                    margin-top: 20px;
                    margin-left: 40px;
                    color:#ff7000;
                    
                }
            }
            

            .close {
                color:#39ff14;
                float: right;
                font-size: 38px;
                font-weight: bold;
            }

            .close:hover,
            .close:focus {
                color: red;
                text-decoration: none;
                cursor: pointer;
            }
        }

        .containerGif{

        display: flex;
        justify-content: center;
        
        >.gifHeader {

            display: flex;
            width: 100%;
            margin-top: 10px;
            justify-content: center;
            align-items: end;
            max-width: 430px;
            max-height: 410px;
            margin-left: 10px;
            overflow: hidden;
            border-radius: 50%;


            >&:nth-child() {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}
    

    .playersList {

        margin-top: 50px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        gap: 65px;    
        scale: 0.8;
        transition: transform 3s ease-out;



        >.card-container {

            display: flex;
            flex-direction: column;
            align-items: center;
            border: 10px solid black;
            border-radius: 8px;
            padding: 10px;
            margin-left: 20px;
            margin-bottom: 30px;
            cursor: pointer;
            transition: transform 0.3s ease;

            >img {

                max-height: 200px;
                max-width: 245px;
                height: 200px !important;
                width: 245px !important;
                scale: 1.2;
                animation: animationCard 0.8s alternate infinite;
            }

            >.player-mario {
                scale: 1.0 1.3.9;
            }

            >.player-luigi {
                scale: 1.3 1.4;
            }

            >.player-yoshi {
                scale: 1.3;
            }

            >.player-donkeykong {
                scale: 1.3;
            }

            >.player-bowser {
                scale: 1.3;
            }

            >.player-peach {
                scale: 1.3 1.4;
            }

            >.player-toad {
                scale: 1.3 1.4;
            }

            >.player-info {

                display: flex;
                flex-direction: column;
                gap: 10px;
                padding: 10px;
                color: white;
                border-radius: 8px;
                margin-top: 10px;
                background-color: #000000bd;
                backdrop-filter: blur(10px);
            }
        }
    }
}
.playButton {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.playButton button {
    background-color: #4CAF50; 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    cursor: pointer; 
}

/* Estilos para o modal */
.playContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    
    background-image: url('./img/contentModalGame.jpeg');
    background-size: 42%;   
}

.play-modal-content {
    margin: 0;
    padding: 20px;
    width: 100%;
    background-color: #606c70; 
    border: double 10px #313131 ;
    border-radius: 7px;
    width: 85%;
    align-items: center;
    justify-content: center;
    border: double rgb(255, 255, 255) 23px;
    scale: 0.56;
    


    h2 {
        display: flexbox;
        justify-content: center;
        text-align: center;
        flex-direction: row;

        color: rgb(9, 255, 0); 
        align-items: center;
        font-weight: bold;
        font-size: 35px;
        margin: 0; 
        padding: 20px;
        margin-top: 15px;
        text-shadow: 
            2px 2px 4px rgba(0, 0, 0, 0.5),  
            0 0 8px #000000,  
            0 0 10px #020202, 
            0 0 10px #000000; 
            flex-wrap: wrap;
}

    
        >.modal-image { 

            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            margin-top: 50px;
            gap: 75px;


            >img{
                max-width: 100%; 
                height: auto;
                border-radius: 20px; 
                padding: 10px; 
                background-color: #00000056;
            }
                >.vs {
                    color: red;
                    font-weight: bold;
                    flex-direction: row;
                    text-wrap: wrap;
                    animation: bounce 1.5s infinite;
                    border-radius: 8px;
                    transform: rotate(-20deg);
                    animation: changeFontColor 1.5s infinite;

                    }
            }

            .container-attribute {
                display: flex;
                flex-wrap: wrap; 
                align-items: center;
                justify-content: space-around;
                text-align: center;
                margin-top: 50px;
                width: 100%;
                gap: 20px;
                height: 35%;

            }
            
            .attribute-racerOne,
            .attribute-racerTwo {
                display: flex;
                flex-direction: column;
                text-align: center;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                border: 8px double white;
                padding: 20px;
                color: white;
                font-size: 18px;
                border-radius: 8px;
                backdrop-filter: blur(10px);
                background-color: #00000077;
                width: 35%;
            }
            
            @media (max-width: 768px) {
                .attribute-racerOne,
                .attribute-racerTwo {
                    width: 100%;
                }
            }
            

            >.modal-content-results{
                border: 8px double white;
                display: flex;
                flex-direction: column;
                text-align: center;
                align-items: center;
                justify-content: center;
                background-color: #00000077;
                flex-wrap: wrap;
                color: white;
                border-radius: 7px;
                scale: 0.9;
                font-size: 20px;

                

                >h2 {
                    color: white;
                    text-wrap: wrap;
                    animation: resultsBounceNeon 1.5s infinite;
                    border-radius: 8px;
                    font-size: 18px;
                    text-align: center;
                }

                >p{
                    text-align: center;
                }
            }
            
            >button {
                width: 100%;
                height: 40px;
                display: flex;
                align-items: center;
                flex-direction: row;
                justify-content: center;
                flex-wrap: wrap;
                cursor: pointer;
                margin-top: 20px;
                color: black;
                border: solid 4px white;
                font-family: 'Press Start 2P', cursive;
                border-radius: 7px;
                font-size: 25px;
                scale: 0.9;

                background-color: gold;
            }

            >button:hover {
                background-color: red;
                color: white;
                font-size: 30px;
            }
        }


.close {
    color: #aaa; 
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #999; 
}

.containerTitlePoints{

    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin: 20px;


    >.titlePoints{
    text-align: center;
    justify-content: center;
    flex-direction: row;
    border: 8px double white;
    padding: 20px;
    color: white;
    font-size: 30px;
    border-radius: 8px;
    backdrop-filter: blur(10px);
    background-color: #00000077;
    width: 89%;
    animation: resultsBounceNeon 1.5s infinite;
    }
}

.containerPointsResults{

    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    margin: 25px;

    >.RacerOnePoints, 
    .RacerTwoPoints{
        display: flex;
        text-align: center;
        justify-content: center;
        flex-wrap: wrap;
        border: 8px double white;
        padding: 20px;
        color: white;
        font-size: 18px;
        border-radius: 8px;
        backdrop-filter: blur(10px);
        background-color: #00000077;
        width: 35%;
        font-size: 25px;

        >.vs-points{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 50px;
            animation: shadowBoxCardWinner 1s infinite;
        }
    }
}

/* Estilo para o overlay do modal */
.modal-overlay {
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(19, 23, 32, 0.918);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    z-index: 1;
    backdrop-filter: blur(15px);




    >.modal-content {

        background-repeat: no-repeat;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.603); /* sombra */
        width: 40%; 
        height: 70%;
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        scale: 0.6;
        overflow: hidden;
        border: solid 10px rgb(255, 255, 255);
        animation: pulseShadow 1s infinite;
        padding: 0px;

        >.winner-info{

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 100%;
            height: 100%;
            border-radius: 8px ;
            background-color: #00000013;



        >h1 {
            margin-bottom: 100px;
            animation: changeColorWinnerName 2.2s infinite;
        }


            >img {

                width: 500px;
                height: 450px;
                background-color: rgba(56, 24, 24, 0.493);
                backdrop-filter: blur(20px);
                border-top: double  8px white;
                border-radius: 50px;
                box-shadow: white 0px 0px 40px;
                scale: 0.9;

            }

            >div{

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                width: 85%;
                margin-top: 80px;

                border-radius: 7px;
                border-top: double 8px rgb(0, 0, 0);
                border-radius: 50px;
                border-bottom: double 8px rgb(12, 12, 12);
                background-color: rgba(255, 254, 254, 0.295);
                >h2 {
                    margin-top: 30px;
                }

                >p {
                    font-size: 30px;
                    text-shadow: white 0px 0px 10px;
                }
            }
        }
        
        >.close-modal {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
            color: rgb(0, 0, 0);
            font-size: 50px;
            font-weight: bold;
        }
        >.close-modal:hover {
            color: red;
        }
    }
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: white;
    width: 100%;
    z-index: 1;
    font-size: 16px;
    backdrop-filter: blur(110px);
    text-shadow: rgb(19, 19, 19) 0px 0px 10px;
    .social-medias {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
    
    .social-medias img {
        width: 40px;
        height: 40px;
        margin-top: 20px;
        scale: 0.9;
        cursor: pointer;    
        border-radius: 10% 30px 30px 34px;   
        transition: transform 0.3s ease;

    }

    .social-medias img:hover {
        transform: scale(0.8);
        box-shadow: 1px 0px 1px gold;
        background-color: rgba(255, 255, 255, 0.082);
        scale: 1.5;
    }

    >h3, a:hover{ 
        color: rgb(30, 255, 0);
    }
    
    .link{
        color:gold;
        text-decoration: none;
    }


}




@keyframes resultsBounceNeon {
    0%, 20%, 50%, 80%, 100% {
        margin-left: 0;
        color: red;
        font-size: 35px;
    }
    40% {
        text-shadow: 3px 3px 2px #000, 0 0 5px #FF4500, 0 0 10px #FF4500, 0 0 20px #FF4500; 
        color: #FF0000; 
        margin-left: 20px;
    }
    60% {
        color: #00FF00;
        text-shadow: 3px 3px 2px #000, 0 0 5px #1E90FF, 0 0 10px #1E90FF, 0 0 20px #1E90FF; 
    }
    80% {
        color: #FFFF00;
        text-shadow: 3px 3px 2px #000, 0 0 5px #8B4513, 0 0 10px #8B4513, 0 0 20px #8B4513; 
    }
}

@keyframes pulseShadow {
    0%, 20%, 50%, 80%, 100% {
        box-shadow: white 0px 0px 70px;
    }
    40% {
        box-shadow: rgb(255, 255, 255) 0px 0px 40px;
    }
    60% {
        box-shadow: rgb(255, 255, 255) 0px 0px 50px;
    }
    80% {
        box-shadow: rgb(255, 255, 255) 0px 0px 40px;
        }
    
}

@keyframes changeColorWinnerName {

0%, 20%, 50%, 80%, 100% {
    font-size: 45px;
    box-shadow: rgb(255, 255, 255) 0px 0px 0px;
    padding: 15px;

    border: double 7px #fffef5;
}
40% {
    box-shadow: rgb(0, 0, 0) 0px 0px 40px;

}
60% {
    box-shadow: rgb(255, 254, 254) 0px 0px 50px;
    border: double 7px #000000;

}
80% {
    box-shadow: rgb(10, 10, 10) 0px 0px 40px;
    color: #ffffff;
    }
}

@keyframes changeFontColor {
    0%, 20%, 50%, 80%, 100% {
        font-size: 60px;

    }
    40% {
        font-size: 55px;
        text-shadow: 3px 3px 2px #000, 0 0 5px #F5F5DC, 0 0 10px #F5F5DC, 0 0 20px #F5F5DC;
        color: #FFD700;
    }
    60% {
        font-size: 55px;
        color: #FFD700;
        text-shadow: 3px 3px 2px #000, 0 0 5px #F5F5DC, 0 0 10px #F5F5DC, 0 0 20px #00eaff;
    }
    80% {
        font-size: 55px;
        color: #FFD700;
        text-shadow: 3px 3px 2px #000, 0 0 5px #05e5b4, 0 0 10px #05e5b4, 0 0 20px #05e5b4;
    }
}